@model DoctorFinderProject.Models.Appointmenttbl

@{
    ViewData["Title"] = "DeleteAppointment";
    Layout = "~/Areas/Hospital/Views/HospitalLayout.cshtml";
}

<h2>DeleteAppointment</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Appointmenttbl</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.AptId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AptId)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.HospitalId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hospital.HospitalName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PateintId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pateint.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoctorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doctor.FirstName)
            @Html.DisplayFor(model => model.Doctor.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AptDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AptDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AptStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AptStatus)
        </dd>
    </dl>
    
    <form asp-action="DeleteAppointment">
        <input type="submit" value="Delete" class="btn btn-primary" /> |
        <a asp-action="ManageAppointment">Back to List</a>
    </form>
</div>
